[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
pyqt5 = "*"
pyqt5-frameless-window = "*"
requests = "*"
pyqt-fluent-widgets = {git = "https://github.com/zhiyiYo/PyQt-Fluent-Widgets.git"}

[dev-packages]

[requires]
python_version = "3.11"
